{% extends 'master.html' %}

{% block body %}
<div class="container">
    <div class="col-sm-12">
        <div class="login-register-tab-list nav">
            <a class="active" data-bs-toggle="tab">
                <h4 style="font-size: 44px;font-weight: 400;">Password has been changed successfully!!!</h4>
            </a>
        </div>
        <div class="content-404 text-center img_cmpted"><img src="../../../static/images/home/cmpted_logo.png" alt=""></div>
        <span style="margin:20px;display: flex;flex-direction: column;align-items: center;font-size: 20px;">
        <p>You may go ahead and  login now</p>
        <a href="{% url 'login' %}" class="btn btn-primary" style="font-size: 20px;">Login
        </a>
        </span>
    </div>
</div>

{% endblock %}