{% extends 'master.html' %}

{% block body %}
<div class="container">
    <div class="col-sm-12">
        <div class="login-register-tab-list nav">
            <a class="active" data-bs-toggle="tab">
                <h4 style="font-size: 44px;font-weight: 400;">Reset Password</h4>
            </a>
        </div>
        <div class="content-404 text-center img_cmpted"><img src="../../../static/images/home/cmpted_logo.png" alt=""></div>


        <span style="margin:20px;display: flex;flex-direction: column;align-items: center;font-size: 20px;">
            <p>I have already mailed you instructions for resetting your password.</p>
            <p>If you haven't received the email, please verify that you entered the correct email address and/or check your spam folder.</p>
        </span>
    </div>
</div>

{% endblock %}