{% extends 'master.html' %}

{% block body %}

<section id="form">
        <div class="container">
            <div class="card card-1 col-sm-4 col-sm-offset-1">

                <div class="signup-form">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="{% url 'signup' %}">
                            <h4>New Password</h4>
                        </a>
                    </div>

                        {% if validlink %}
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                {{ field.errors }}
                                <label>{{field.label_tag}}</label>
                            <p>{{ field }}</p>
                            {% endfor %}

                        <button clas="btn btn-default" type="submit">Save</button>

                    </form>
                    <p style="color: red;">Invalid Token</p>
                    <p>
                        <a href="{% url 'password_reset' %}">
                            Request a new password reset token
                        </a>
                    </p>
                    {% endif %}

                </div>

            </div>
        </div>
</section>
{% endblock %}