<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>

    <div class="your-order-area" style="background-color: #d6d6d5;margin: 0;min-width: 100%;padding: 0;width: 100%;">
        <!-- <h1 style="text-align: center;">Your Order Receipt</h1> -->
        <h1 style="color:#000;line-height:38px;margin-left:10px;"> Thanks for buying, {{name}} </h1>

        <h2 style="color:#000;line-height:26px;;margin-left:10px;">
        We hope you will enjoy your delicious food.
        </h2>

        <h2 style="color:#000;line-height:26px;;margin-left:10px;">------------------------------------------------------------</h2>
        
        <h1 style="color:#000;line-height:38px;margin-left:10px;">⭐️ Total Amount : ₹{{total}}</h1>
        
        <h1 style="color:#000;line-height:38px;margin-left:10px;">⭐️ Your Products :</h1>
        {% for data in product %}
            <h2 style="color:#000;line-height:26px;;margin-left:50px;">{{ forloop.counter }}. {{ data }}</h2>
        {% endfor %}
        
       
    </div>

</body>

</html>
<style>
table, th, td {
  border: 1px solid black;
}
</style>